@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 14px;
}


.experienceItem {
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--color-dark);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.experienceItem img {
  max-width: 100px;
  height: auto;
}

.experienceItemDetails {
  font-family: var(--font-roboto);
}

.experienceItemDetails h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.experienceItemDetails p {
  font-size: 1rem; 
  word-wrap: break-word;
}

.experienceDetails {
  margin-top: 15px;
  font-size: 16px;
  margin-left: 20px;
  max-width: 100%;
  overflow-wrap: break-word;
}

.skillsLearned {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  justify-content: flex-end; /* Align to the right side of the container */
}

.skillsLearnedItems {
  padding: 8px;
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  min-width: 30px; /* Set a fixed width */
  justify-content: center; /* Center the content horizontally */
}

@media screen and (max-width: 830px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .experienceItem {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .experienceItem img {
    max-width: 80%;
    height: auto;
  }

  .title {
    font-size: 28px;
    letter-spacing: 1.5px;
  }

  .experienceItemDetails h3 {
    font-size: 1.5rem;
  }

  .experienceItemDetails p {
    font-size: 0.875rem; 
  }

  .experienceDetails {
    font-size: 14px;
  }

  .skillsLearned {
    justify-content: center; 
    padding-bottom: 30px;
  }
}